@import url("messages/messages.css");

/* ====================== main elements ==================================================  */
/* ---------------------- Оболочки -------------------------------------------------------  */
/* ______________________ Главная Шапка ________________________  */
#headerWrapper { 
    background-color: #FFF;
	border: 1px solid #EEE; /*#EEE*/
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 0 0 6px 0 #C2D2EA;
	margin: -12px auto 0px;
	padding: 12px 0px 0px;
	top: 0px;
	right:7px;
	left: 7px;
	position: fixed;
	z-index:50;
    overflow: visible;
    display: block;
}

/* _____________________ Главное тело ___________________________  */
#wrapper {
	border: 0px solid #00E; /* border: 0px solid #E00;*/
	margin: 0px auto 0px;
	top: 20px;
	right:0px;
	left: 0px;
	bottom: 20px;
	position:relative;
	z-index:10;	
	display:block;
}

/* _____________________ Главный подвал ___________________________  */
#footerWrapper{
	background-color: #FFF;
	border: 1px solid #EEE; /* #EEE*/
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 0 0 6px 0 #C2D2EA;
	margin: 15px auto -12px;
	padding: 6px 0px 18px;
	position: fixed;
    bottom: 0px;
    right: 7px;
	left: 7px;
	z-index: 50;
    overflow: hidden;
    display: block;
}
/* ---------------------------------------------------------------------------------------- */

/* ------------------------ Основное содержимое ------------------------------------------- */
/*_________________________ Блок редактирования ___________________________________________ */
#measurementsEdit{
	border: 0px solid #6E6; /*border: 0px solid #E66;*/
	width: 100%;
	height: 113px;
	background-color: #EEF9FE;
	top:0px;
	left:0px;
	padding-top: 40px;
	position: fixed;
	display: block;
	overflow: visible;
	z-index: 39;
}

#measurementsUpdate {
	margin: auto;
	border: 1px solid #EEE; /*border: 0px solid #EEE;*/
	position:relative;
	z-index: 60;
}

/* ________________________ Блок списка ___________________________________________________ */
#measurementsList {
	/*left: 0px;*/
	border: 0px solid #E0E; /*border: 0px solid #E66;*/
	position: relative;
	margin: 150px auto 0px;
}

#mainMeasurementsListTable {
	margin: auto;
	border: 1px solid #EEE; /*border: 0px solid #E66;*/
	position:relative;
}

/*_________________________ Шаблон контента _______________________________________________ */
div.content {
	background-color: #FFF;
	border: 1px solid #EEE;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: px;
	box-shadow: 0 0 6px 0 #C2D2EA;
	width: 1250px;		
}
/* ---------------------------------------------------------------------------------------- */

/* =============================== Общие настрройки ======================================= */
body,div,td {
	font-family: verdana, Arial, sans-serif;
	font-size: 12px;
	color: #555;
}

body {
	background-color: #EEF9FE;
	text-align: center;
}

label {
	width:150px;
	float:left;
	margin-left: 5px;
	margin-top: 5px;
}

input {
	height:100%;
	width: 100% ;
	margin: 0px;
	padding: 0px;
	text-align: center;
}

textarea {
	height:100%;
	width: 100% ;
	margin: 0px;
	padding: 0px;
	resize: none;
	vertical-align: middle;
	text-align: center;
}

button {
	width: 100%;
	color: #666;
	margin: 1px;
	padding: 0px;
}

input, textarea, select {
	border:0px solid #B3B3B3;
	font-family: verdana, Arial, sans-serif;
	font-size: 12px;
	color: #666;
}

ul {
	
	margin: 0px;
}

h1,h2,h3 {
	font-family: Helvetica, sans-serif;
	color: #57869C;
}

h1 {
	font-size: 20px;
	line-height: 26px;
	margin: 10px;
}

h2 {
	font-size: 12px;
	line-height: 15px;
	margin: 0px auto;
	text-align: center;
}

h3 {
	font-size: 15px;
	line-height: 21px;
	color:#555;
}

h4 {
	font-size: 14px;
	line-height: 20px;
}

li {
	padding-top: 5px;
	text-align: left;
}

ul li {
	margin:0 0 0.25em 0;
	padding:0;
}

a {
	text-decoration: underline;
	font-size: 12px;
}

a:link {
	color: #527BE5;
}

a:hover {
	color: #273B6D;
}

a:active {
	color: #527BE5;
}

a:visited {
	color: #527BE5;
}


a img {
	border: 0 none;
	vertical-align: middle;
}

/* =============================== Частные елементы ======================================= */
/* ------------------------------- Таблица редактирования --------------------------------- */

#measurementsUpdate table {
	background: #FFF;
	margin: 18px auto;
	border: 0px solid #F6F;
	border-collapse: collapse;
}

#measurementsUpdate th {
	background: #999;
	color: #FFF;
	height: 30px;
	margin: 0px;
}

#measurementsUpdate th.noBg {
	background: #FFF;
}

#measurementsUpdate table.mainMeasurementsListInnerTable {
	margin: 0px;
}

#measurementsUpdate table.ListInnerTableData {
	margin: 0px;
	background-color:inherit;
	text-align: left;
	height: 100%;
}

#measurementsUpdate tr.row {
	height: 30px;
}

#measurementsUpdate tr.innerTableRow {
	height: 46px;
}

#measurementsUpdate td.ListResults {
	padding-left: 0px;
}


/* ------------------------------- Главная таблица ---------------------------------------- */
#mainMeasurementsListTable table  {
	background: #FFF;
	margin: 18px auto;
	border: 0px solid #F6F;
	border-collapse: collapse;
}

#mainMeasurementsListTable th {
	background: #999;
	color: #FFF;
	height: 30px;
	margin: 0px;
}

#mainMeasurementsListTable th.noBg {
	background: #FFF;
}

#mainMeasurementsListTable table.mainMeasurementsListInnerTable {
	margin: 0px;
}

#mainMeasurementsListTable table.ListInnerTableData {
	margin: 0px;
	background-color:inherit;
	text-align: left;
}

#mainMeasurementsListTable tr.row {
	height: 30px;
}

#mainMeasurementsListTable tr.row:HOVER {
	background-color: #EEF;
}

tr.innerTableRow {
	border-bottom: 0px solid #BBB;
}
/*------------------------------- Элементы главной таблицы ---------------------------------*/
.ListDate {
	border-right: 1px solid #BBB;
	border-bottom: 1px solid #BBB;
	width: 100px;
}

.ListModel {
	border-right: 1px solid #BBB;
	border-bottom: 1px solid #BBB;
	overflow:visible;
	width: 105px;
}

.ListSerial {
	border-bottom: 1px solid #BBB;
	width: 95px;
}

.ListSerial a {
	text-decoration: none;
	display: block;
	border: 0px solid #FFF;
	padding: 7px;
}

.ListSerial p {
	margin: 0px auto;
}

#measurementsUpdate .ListPropsAndresults {
	width: 786px;
	border-bottom: 1px solid #BBB;
	padding: 0px;
}

#mainMeasurementsListTable .ListPropsAndresults {
	width: 690px;
	border-bottom: 1px solid #BBB;
	padding: 0px;
}

.ListPropsAndresults table {
	width: 100%;
	height: 30px;
}

.ListProperties {
	border-right: 1px solid #BBB;
	border-left: 1px solid #BBB;
	width: 180px;
	padding-left: 10px;
}

.ListResults {
 	border-right: 1px solid #BBB;
 	padding-left: 10px;
}

.ListSecondDate {
	border-right: 1px solid #BBB;
	border-bottom: 1px solid #BBB;
	width: 95px;
}

.ListUser {
	border-bottom: 1px solid #BBB;
	width: 95px;
}

.ListAttributes {
	width: 25px;
	border-width: 0px;
	border-bottom: 0px solid #BBB;
	background-color: inherit;
}

.currentDate {
	color: #AAA;
}
/* ---------------------------------------------------------------------------------------- */

/* -------------------------- Протокол -----------------------------------------------------*/
#backContent {
	background-color: #FFF;
	border: 1px solid #EEE;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: px;
	box-shadow: 0 0 6px 0 #C2D2EA;
	width: 210mm;
	height: 297mm;
		
	z-index: 0;
	display: block;
	position: absolute;
	margin-top: 10px;
	margin-bottom: 40px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	overflow: hidden;
	padding: 1cm;
}

#backContent p {	
	margin: 9px;
	font-family: "Times New Roman", Times, serif;
	font-size: 1.5em;
	font-weight: normal;
	color: #333333;
}

/*---------------- название ---------------*/
#protocolName {
	width: 16cm;
	margin: auto;
}

/*--------------- шапка -------------------*/

#protocolHeadTable{
	margin: auto 2cm;
	border: 0px solid #EEE; 
}

#protocolHeadTable td{
	border: 0px solid #E44; 
}

#protocolHeadTable p {
	text-align: left;
}

/*----------------таблица протокола--------*/
#protocolResultsTable{
	margin: 1cm 0cm 0cm 2cm;
	padding: 0px;
	border: 1px solid #333; 
	border-collapse: collapse;
}

#protocolResultsTable p {
	margin: 0px 5px;;
	font-size: 1.4em;
}

#protocolResultsTable th{
	margin: auto;
	padding: 0px;
	color: #333;
	background-color: #fff;
	border: 1px solid #333; 
}

#protocolResultsTable td{
	padding: 0px;
}

table.protocolResultsInnerTable {
	width: 100%;
	margin: 0px;
	padding: 0px;
	border-collapse: collapse;
	border-spacing: 0px;
	border: 0px solid #333;
}

.protocolResultsTableFrequency {
	width: 3.7cm;
	border-right: 1px solid #333;
}

.protocolResultsTableNorm {
	width: 5.3cm;
	border-right: 1px solid #333;
}

td.protocolResultsTableLevels {
	border-bottom: 1px solid #333;
}

.protocolResultsTableLevels1 {
	width: 3.6cm;
	border-right: 1px solid #333;
}

tr.data td.protocolResultsTableLevels1 {
	height: 8cm;
}

.protocolResultsTableLevels2 {
	width: 3cm;
}

tr.data td.protocolResultsTableLevels2 {
	height: 8cm;
}
.protocolResultsTableNote {
	width: 3.5cm;
	border-left: 1px solid #333;
}
/*------------------------------------------*/

/*----------заключение протокола ------------*/
#protocolFinal {
	width: 18.8cm;
	text-align: left;
	margin-left: 2cm;
	margin-top: 5mm;
}

/*--------- подвал протокола ---------------*/
#protocolFootTable{
	margin-top: 2cm;
	margin-left: 2cm;
	border: 0px solid #EEE; 
}

#protocolFootTable td{
	border: 0px solid #0fE; 
}

#protocolFootTable p {
	margin: 0px 10px;
}

td.post {
	text-align: left;
}
/*-----------------------------------------*/

/*---------------- Данные ---------*/ 
#frontContent {
	width: 19cm;
	margin: auto;
	z-index: 50;
	display: block;
	position: relative;
	left: 1cm;
	top: 3cm;
}

#frontContent p {
	margin: 0px;
	padding: 0px;
	font-family: "Times New Roman", Times, serif;
	font-size: 1.4em;
	font-weight: normal;
	font-style: italic;
	color: #333333;
}

/*------------- Данные шапки ----------*/
#protocolHeadTableContentBlock {
	margin-left: 2.2cm;
	width: 13.9cm;
}

.protocolHeadTableContent {
	width: 100%;
	margin: auto;
}
.protocolHeadTableContentModel{
	width: 5.5cm;
}

.protocolHeadTableContentNumber {
	width: 5.5cm;
}

/*---------------- Данные таблицы ---------*/ 
#protocolResultsTableContentBlock {
	margin-top: 6cm;
	position: relative;
}

#protocolResultsTableContent td{
	border: 0px;
}

/*--------------- Данные пользователя ------*/
#protocolUserNameBlock {
	position: absolute;
	left: 12.3cm;
	top: 20.9cm;
	width: 5.5cm;
}
/*-----------------------------------------------------------------------------------------*/
/*--------------------------------- Элементы шапки --------------------------------------- */
 
#userinfo {
    float: right;
    margin: 5;
    padding: 5px 5px;
}

#login {
	float: right;
}

/*--------------------------------- Элементы подвала -------------------------------------- */
#language {
    margin: 5;
    padding: 5px 5px;
} 

/*------------------------------------------------------------------------------------------*/

input.image {
	border: none;
	height: auto;
	vertical-align: middle;
}

div .box {
	display:block;
	margin-left:105px;
}

div.smallbutton {
	display: none;
	width: 100%;
	height: 0%;
}

tr.list:hover div.smallbutton {
	display: block;
}

div.nosmallbutton {
	display: block;
	background-color: #FFF;
	width: 20px;
	height: 20px;
}

tr.list:hover div.nosmallbutton {
	display: none;
}

div.models {
	margin: 0px;
	margin-top: 5px;
	border: 0px solid #bbb;
	float: left;
	width: 220px; 
}


p.norms {
	clear: both;
	border-top: 1px solid #BBB;
	margin: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
}

/*------------------------------------ Картинки --------------------------------------------*/

img.edit {
	width: 20px;
	height: 20px;
	float: right;
}

img.delete {
	width: 10px;
	height: 10px;
}

img.print {
	float: left;
	width: 15px;
	height: 15px;
	margin-left: 3px;
}

img.models {
	width: 100px;
	height: 100px;
	float: left;
	margin: 10px;
	border: 0px solid #bfb;
}

/* ------------------------------- Кнопки -------------------------------------------------*/
div.smallbutton {
	display: none;
	width: 100%;
	height: 0%;
}

tr.row:HOVER div.smallbutton {
	display: block;
}

/*-------------------------------- Всплывающие окна ---------------------------------------*/

div.withModal {
	position: relative;
	border: 0px solid #Fbb;
}

div.withModal div.modal {
	visibility:hidden;
	position:absolute; 
	width: auto;
	height: 10px;
}

div.withModal:hover div.modal {
	visibility:visible;
	display:block;
	z-index: 100;
}

div.modelPopup {
	background-color: #FFF;
	border: 1px solid #EEE;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 0 0 6px 0 #C2D2EA;
	margin-top: 0px;
	margin-left: 10px;
	padding: 10px;
	width: 350px;
	height: auto;
	overflow: hidden;
}

div.propAndresultsPopup {
	display:inline-block;
	background-color: #FFF;
	border: 0px solid #EEE;
	border-bottom: 1px solid #BBB;
	
	border-radius: 0px 0px 6px 6px;
	
	-moz-border-radius: 0px 0px 6px 6px;
	-webkit-border-radius: 0px 0px 6px 6px;
	box-shadow: 0 0 60px 0 #BBF;
	min-height:30px;
	position:absolute;
	top:-32px;
	left: 0px;
	
	padding: 0px;
	width: 693px;;
	height: auto;
	overflow: visible;
}

/* --------------------------------- Валидация и меседжи -----------------------------------*/
.errors {
	color: red;
	font-weight: bold;
	display: block;
	margin-left: 105px;
}

.valid {
	color: #7db223;
	margin: 2px;
}

.invalid {
	color: red;
	margin: 0px;
}

.noise {
	color: #aaa;
	font-size: xx-small;
	margin: 0px;
}

/*----------------------------------- Всячина ---------------------------------------------*/

#ListMore {
	border: 0px solid #F5F;
	position: absolute;
	margin-right: 2px;
	right: 0px;
	bottom: 0px;
}

/*==========================================================================================*/


















/* header and footer elements */
/*
#main {
	overflow:hidden;
	display:box;
}

#menu {
	background: #eee;
	position:relative;
	float:left;  	
	left:0px;
	width:220px;
	margin-right:15px;
}

#menu ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

#menu ul li{
	padding: 0px;
}


#menu a, #menu h2 {
	display: block;
	margin: 0;
	padding: 2px 6px;
	color:#FFFFFF;
}

#menu h2 {
	color: #fff;
	background: #648C1D;
	text-transform: uppercase;
	font-weight:bold;
	font-size: 12px;
}

#menu a {
	color: #666666;
	background: #efefef;
	text-decoration: none;
	padding: 2px 12px;
}

#menu a:hover {
	color: #648C1D;
	background: #fff;
}

#footer {
	background:#fff;
	border:none;
	margin-top:15px;
	border-top:1px solid #999999;
}

#footer .new {
	float:left;
}

#footer a:link {color: #7db223;}

.quicklinks {
	clear:both; 
	padding-bottom: 15px
}
.quicklinks span {
	float: right;
}

table.navigation {
	border: 0px;
}
*/
/*#header {
	margin-bottom: 1em;
}*/

/*#appname {
    margin: 0px;
    padding: 0px 0px;
    font-size: 150%;
    vertical-align: middle;
}*/
/*
#banner {
    float: left;
    margin: 5;
    padding: 5px 10px;
    font-size: 150%;
    vertical-align: middle;
}
 */   
/*
table thead {
	font-weight: bold;
	font-style: italic;
	background-color: #BBBBBB;
}

table a:link {color: #303030;}

.utilbox {width: 18px;}

caption {
	caption-side: top;
	width: auto;
	text-align: left;
	font-size: 12px;
	color: #848f73;
	padding-bottom: 4px;
}

fieldset {
	background: #e0e7d3;
	padding: 8px;
	padding-bottom: 22px;
	border: none;
	width: 560px;
}

fieldset label {
	width: 70px;
	float: left;
	margin-top: 1.7em;
	margin-left: 20px;
}

fieldset textfield {
	margin: 3px;
	height: 20px;
	background: #e0e7d3;
}

fieldset textarea {
	margin: 3px;
	height: 165px;
	background: #e0e7d3;
}

fieldset input {
	margin: 3px;
	height: 20px;
	background: #e0e7d3;
}

fieldset table {
	width: 100%;
}

fieldset th {
	padding-left: 25px;
}

.table-buttons {
	background-color:#fff;
	border:none;
}

.table-buttons td {
	border:none;
}

.submit input {
	border: 1px solid #BBBBBB;
	color:#777777;
	padding:2px 7px;
	font-size:11px;
	text-transform:uppercase;
	font-weight:bold;
	height:24px;
}

.updated {
	background:#ecf1e5;
	font-size:11px;
	margin-left:2px;
	border:4px solid #ecf1e5;
}

.updated td {
	padding:2px 8px;
	font-size:11px;
	color:#888888;
}

.dijitArrowButton {
	height: 20px;
}

.dijitTextArea{
	min-height:5.5em !important;
	max-height:22em !important;
	overflow-y: auto !important;
	max-width: 175px;
}

.RichTextEditable{
	min-height:18em !important;
	max-height:18em !important;
}

.flag {
	height: 11px;
	width: 16px;
}
*/